# Test files
_test

# Publish files
.github
.git
.gitignore

# Package directories
node_modules
package-lock.json
yarn.lock
jspm_packages

# Editor/IDE
.vscode
.idea

# Mac OS Files
*.DS_Store
.AppleDouble
.LSOverride
._*

# Docs
README.md

# Dev Config files
.eslintrc*
.prettierrc*
.npmignore
.env*
